Package: com.tweakcompiler.tweakcompiler
Name: TweakCompiler
Depends: mobilesubstrate, firmware (>= 15.0)
Description: A powerful iOS tweak development environment
Maintainer: TweakCompiler Team
Author: TweakCompiler Team
Section: Development
Icon: file:///Applications/TweakCompiler.app/AppIcon60x60@2x.png
Architecture: iphoneos-arm64
Version: 1.0.0-36+debug
Installed-Size: 5672
